/* Leaderboard Title Styling */
.leaderboard-title {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-alignment: center;
    -fx-padding: 20 0 20 0;
    -fx-text-alignment: center;
}

/* User Card Styling */
.user-card {
    -fx-background-color: #BDC3C7; /* Changed to grey */
    -fx-padding: 15;
    -fx-spacing: 30;
    -fx-border-color: #7F8C8D;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 8, 0, 4, 4);
    -fx-background-radius: 10;
}

/* Username Styling */
.username {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #2C3E50;
}

/* Index Number and Balance Styling */
.index-number {
    -fx-font-size: 18px;
    -fx-text-fill: #7F8C8D;
    -fx-font-weight: bold; /* Make it bold to emphasize */
}

.balance-coins {
    -fx-font-size: 18px;
    -fx-text-fill: #7F8C8D;
}

/* Leaderboard Container Styling */
#leaderboardContainer {
    -fx-background-color: transparent; /* Removed white background */
    -fx-padding: 30;
}
