.buy-button {
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.sell-button {
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

#companyName, #stockRate {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}
